/* src/style.css */
body {
  margin: 0;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #111;
  color: white;
  font-family: sans-serif;
}

.menu h1 {
  font-size: 3em;
  margin-bottom: 1em;
}

.menu button {
  padding: 1em 2em;
  font-size: 1.2em;
  background: #00aa00;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.menu button:hover {
  background: #007700;
}
